@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Karla&display=swap");

$crypto-color: #e71d36;
$currency-color: #011627;
$investment-color: #2ec4b6;
$investmentStartDate-color: #ff9f1c;
$white: #fdfffc;

// change the theme
$theme-colors: (
  "danger": $crypto-color,
  "info": $currency-color,
  "white": $white,
);

$form-select-indicator-color: $investmentStartDate-color;
$form-range-thumb-bg: $investment-color;
$form-select-color: $investmentStartDate-color;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  h1 {
    font-family: "Alfa Slab One";
    &.display-3 {
      line-height: 1.6;
    }
  }
  p {
    font-family: "Karla";
    margin: 0;
  }

  background-color: $white;
  select,
  option {
    border: none;
    background-color: transparent;
    width: 100%;
  }

  .cryptoCurrencies {
    &.active {
      border-bottom: 7px solid $crypto-color;
    }
    display: flex;
    align-items: center;
    width: 100%;
    img {
      width: 24px;
    }
  }
  .dynamic {
    text-decoration-line: underline;
    text-decoration-thickness: 7px;
    color: black;
  }
  .cryptoCurrency {
    text-decoration-color: $crypto-color;
  }
  .investment {
    text-decoration-color: $investment-color;
  }
  .currency {
    color: $currency-color;
  }
  .currencyButton {
    border: 2px solid $currency-color;
    color: $currency-color;
    background-color: $white;
    &.active {
      border: 2px solid $currency-color;
      color: $white;
      background-color: $currency-color;
    }
  }
  .investmentStartDate {
    text-decoration-color: $investmentStartDate-color;
  }
}
